<div class="cardAnimations ">
    <div class="row" style="margin: 0;">
        <h2 class="mt-5 text-start px-4 mt-3 col-lg-12" style="color: darkorange; font-size: 26px; font-weight: 600;">
            Skills
        </h2>

        <div class="row mt-2 about-con">

            <ol class="progress-bar ms-3">
                <li class="is-complete"><span></span></li>  
                <li class="is-complete"><span></span></li>  
                <li class="is-complete"><span></span></li>
                <li class="is-complete"><span> </span></li>  
                <li class="is-complete"><span></span></li>
                <li class="is-complete"><span></span></li>
                <li class="is-active"><span> </span></li>  
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>  
              </ol>

        </div>
    </div>
</div>