<div class="cardAnimations ">
    <div class="row" style="margin: 0;">
        <h2 class="mt-5 text-start px-4 mt-3 col-lg-12" style="color: darkorange; font-size: 26px; font-weight: 600;">
            Skills
        </h2>

        <div class="row mt-2 about-con" *ngFor="let item of skills">
            <h4 style="font-weight: 500; margin: 0;">{{item.name}} ( <span
                    style="color: darkorange;">{{item.percent}}</span> )</h4>
            <ol class="progress-bar ms-3">
                <li *ngFor="let points of item.point; let i = index"
                    [ngClass]="{'is-complete ': (points.isActive == true && i != (item.countActive -1)) , 'is-active': i == (item.countActive -1)}">
                    <span></span>
                </li>
            </ol>
        </div>



    </div>
</div>