<div class="cardAnimations ">

    <div class="row py-4" style="margin: 0;">
        <form>
            <div class="row" style="margin: 0;">
                <div class="col-lg-4">
                    <div class="field">
                        <label for="fin" title="FİN" data-title="FİN"></label>
                        <input type="text" id="fin" name="fin" placeholder="FİN" />
                      </div>
                </div>
                <div class="col-lg-8">
                    <div class="field">
                        <label for="info" title="Direktor haqqında məlumat" data-title="Direktor haqqında məlumat"></label>
                        <textarea  id="info" placeholder="İnfo"></textarea>
                        <!-- <small class="text-danger " style="display: inline-block;">*Required field</small> -->
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>