.about-con {
    margin: 0;
    text-align: left;
    color: #424242;
    
}

.about-span-headers{
    // background: #00bd58;
    color: #4498f1;
    padding: 2px 8px;
    border-radius: 5px;
}

.about-con h2{
    color: darkorange;
}